.action_box {
  width:360px;
  height:360px;
  position: relative;
  margin: 0 auto; display: block;

}
#zhizhen {
  position: absolute;
  width: 100px;
  height: 115px;
  left: 130px;
  top:115px;
  /*transition-duration:0s;*/
  /*transition-property:all;*/
  /*transition-timing-function:ease-in-out;*/
  -webkit-transition: All 5s ease-in-out;
  -moz-transition: All 5s ease-in-out;
  -o-transition: All 5s ease-in-out;
  -webkit-transform-origin: center 67.5px;
  transform-origin: center 67.5px
}



*{padding:0;margin:0}

body{

  text-align: center;

  background-color: #1664ad;

}

.ly-plate{

  position:relative;

  width:509px;

  height:509px;

  margin: 50px auto;

}

.rotate-bg{

  width: 509px;

  height: 509px;

  /*background: url(ly-plate.png);*/

  position: absolute;

  top: 0;

  left: 0;

  margin-top: 0%;

}

.ly-plate div.lottery-star{

  width:214px;

  height:214px;

  position:absolute;

  top:150px;

  left:147px;

  /*text-indent:-999em;

    overflow:hidden;

    background:url(rotate-static.png);

    -webkit-transform:rotate(0deg);*/

  outline:none

}

.ly-plate div.lottery-star #lotteryBtn{

  cursor: pointer;

  position: absolute;

  top:0;

  left:0;

  *left:-107px

}
