#app { background: #f5f5f5;}
.bannerbox { position: relative;overflow: hidden;}
.banner {width:100%; float: left;}
.bannerbox .bottomtext { position: absolute; width: 100%; text-align: center; color: #ffffff; bottom: .06rem; font-size: .1rem;}
.center_box { padding: 0 .15rem;overflow: hidden;  background: #F8A900;}
.couponList { overflow: hidden; margin-bottom: .15rem; background: #ffffff;clear: both;}
.couponTop { padding: .2rem; overflow: hidden;}
.couponImg { width:1rem; height: 1rem; float: left;}
.couponright { float: left;display: inline-block; margin-left: .2rem;}
.couponBottom { clear: both; text-align: center; cursor: pointer; font-size: .12rem;
  height:.3rem; line-height: .3rem; background: #ff0036;float: left; color: #ffffff;
  width: 100%;}
.couponBottom.getend { color: rgba(255,255,255,0.7);}
.detailslist { margin-top: .06rem;}
.detailslist li { color: #ff0036;}
.detailslist li>span { margin-right: .05rem;}
.couponList .coupontitle { font-size: .14rem;}

.ruleDestail { border: 1px solid #ffffff; border-bottom:  none; padding: .2rem; margin-top: .5rem; font-size: .12rem; clear: both;}
.ruletitle { text-align: center; color: #ffffff; position: relative; font-size: .16rem; margin-bottom: .3rem;}
.ruletitle::after {
  content: "";
  position: absolute;
  width: .6rem;
  height: .03rem;
  background: #fff;
  bottom: -.1rem;
  left: 50%;
  margin-left: -.3rem;}
.rulelist>div { margin-bottom: .2rem; color: #ffffff;}

.login {
  float: left;
  width:100%;
  padding: .15rem;
  background: #ffffff; margin-bottom: .46rem;
}
.login .logintext { display: block;
  text-indent: .1rem;
  font-size: .16rem;
  width:100%;
  outline: none;
  height:.44rem;
  line-height: .44rem;
  border: 1px solid #F1F1F1;
  margin-bottom: .12rem;
  box-shadow: none;
  border-radius: 3px;
}

.Verification { overflow: hidden;}
.Verification .logintext {
  float: left;
  width:60%;}
.Verification .btn_code { width: 35%;border-radius: 3px; height: .42rem; line-height:.42rem; text-align: center; float: right; border:1px solid #57B5F2; color: #57B5F2;}
.codebtn { height:.44rem; width: 100%;  border-radius: 3px; background: #FF0036; font-size: .18rem; color: #ffffff; line-height: .44rem; text-align: center}



.getBox {width: 100%; border-radius: .04rem; background: #ffffff; margin-top: .15rem;    overflow: hidden; font-size: .14rem;}
.getBox .gettop { position: relative; height: .76rem; line-height: .76rem; color: #000000; font-size: .2rem; text-align: center; border-bottom: 1px dashed #f1f1f1;}
.getBox .gettop::after,.getBox .gettop::before { position: absolute;  bottom:-.07rem; content: "";
  width:.14rem;background: #F8A900;
  height:.14rem;border-radius: 50%;}
.getBox .gettop::after { left: -.07rem}
.getBox .gettop::before { right: -.07rem}
/*正确*/
.getSucceed .centerlist { padding:.1rem .2rem .1rem .37rem; border-bottom: 1px solid #f1f1f1;}
.getSucceed .centerlist>div { overflow: hidden; position: relative;}
.getSucceed .centerlist>div:not(:last-child) { margin-bottom: .08rem;}
.getSucceed .centerlist .spa { display: inline-block; width:30%; text-align: left; float: left;}
.getSucceed .centerlist .spb { display: inline-block; width: 68%; float: right;}
.qy_list .spa { float: left;}
.qy_ul { display: inline-block;}
.validity {    padding: .12rem .2rem .12rem .47rem;}


.getbtn {
  width:3.15rem; height: .44rem; line-height: .44rem; text-align: center; color: #ffffff; font-size: .18rem; margin: .3rem auto .3rem auto; background: #FF0036; border-radius: 3px;}
.get_bg {
  width:90%;  height: 2.8rem; margin: 0 auto;  background: url("../img/get_bg.png") no-repeat center; background-size: 100%;}


/*优惠券列表样式*/
.couponlist { background: #F5F5F5; overflow: hidden; padding: .15rem; min-height: 100%;}
.listitem { margin-bottom: .1rem;float: left; width: 100%;background: #F5F5F5; border-radius: .04rem; font-size: .1rem;}
.listitem.dikou .itemleft { background:#FB6362; border-right: 1px dashed #FB6362;}
.listitem.dikou .itemright .type { background: #FB6362;}
.listitem.youhui .itemleft { background:#F5B041; border-right: 1px dashed #F5B041;}
.listitem.youhui .itemright .type { background: #F5B041;}
.itemleft { float: left; width:28%; position: relative; color: #ffffff; min-height: 1.06rem; display: flex;align-items:center;
justify-content:center; font-size: .22rem; color: #ffffff; font-weight: bold; position: relative;}
.itemleft::after,.itemleft::before { content: ""; position: absolute; width:.12rem; height:.12rem; border-radius: 50%; background: #F5F5F5;
  right:-.07rem;}
.itemleft::after { top:-.06rem;}
.itemleft::before { bottom:-.06rem;}
.itemleft>div { color: #ffffff;}
.itemleft>div>span { font-size: .16rem;}
.itemright { float: left; background: #ffffff; height: 1.06rem;
  width:72%; padding: .08rem .12rem;}
/*左侧状态图标*/
.itemleft .status { position: absolute; width: .5rem; height: .28rem; left: -.1rem; top:.06rem; font-size: .1rem; text-indent:.1rem; padding-top: .03rem;}
.listitem.user .status{ background: url("../img/couponUse.png") no-repeat; background-size: 100% 100%;}
.listitem.outofdate .status{ background: url("../img/couponoverdue.png") no-repeat; background-size: 100% 100%;}
.listitem.outwilldate .status,.listitem.nouser .status{ background: url("../img/couponwilloverdue.png") no-repeat; background-size: 100% 100%;}

.itemright .name { font-size: .14rem;}
.listitem .type { padding: 0rem .03rem; border-radius: 2px; color: #ffffff; margin-right: .07rem; }
.listitem .ft_tight {width: .6rem;
  height:.2rem; border-radius: .1rem; color: #ff0036; text-align: center; line-height: .2rem; border: 1px solid #ff0036; float: right; }
.righttop { margin-bottom: .13rem; line-height: .2rem;  overflow: hidden;    height: .2rem; }
.righttop>span { float: left;}
.rightcenter { margin-bottom: .08rem; overflow: hidden; border-bottom: 1px dashed #E0E6ED; padding-bottom: .1rem;   line-height: .22rem;}
.rightbottom { line-height: .15rem;}
.rightbottom .iconfont { width:.15rem; height:.15rem;text-align: center;  line-height: .15rem;   font-size: .1rem; border-radius: 50%; float: right; background: #b7b7b7; color: #ffffff;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); 	/* IE 9 */
  -moz-transform:rotate(90deg); 	/* Firefox */
  -webkit-transform:rotate(90deg);
  transition:all .3s linear;
}
.rightbottom .iconfont.active {
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg); 	/* IE 9 */
  -moz-transform:rotate(-90deg); 	/* Firefox */
  -webkit-transform:rotate(-90deg);
}
.xz_detail { clear: both; overflow: hidden;padding: 0 .06rem; float: left; width:100%; margin-top: .03rem; background: #ffffff; position: relative; z-index: 10; height: 0; opacity: 0; transition:all .3s linear;}
.xz_detail.active { height:auto; padding: .06rem;opacity: 1; }
.nolist {     background: #f5f5f5;}
.nolist img  {width: 90%; margin: 0 auto; display: block; }
.nolist .mesg { color: #999999; font-size: .16rem; margin-top: .15rem; text-align: center;}



.errortext {    color: #ff0036;
  font-size: .12rem;
  margin-bottom: .05rem; position: relative;
  top:-.05rem;}
