.secondlist {
  background: #f5f5f5;
}

.listitem {
  padding: 0 .15rem;
  position: relative;
  margin-bottom: .11rem;
  background: #ffffff;
}

.status_top {
  height: .25rem;
  line-height: .25rem;
  font-size: .1rem;
  text-align: right;
}

.itemcenter {
  width: 100%;
  height: .88rem;
  position: relative;
  padding: .09rem 0 .12rem;
  border-bottom: 1px dashed #f1f1f1;
  border-top: 1px dashed #f1f1f1;
}

.center_left {
  width: 33%;
  height: 100%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.center_left::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: .25rem;
  height: .25rem;
  background: url("../img/kill.png") no-repeat;
  background-size: 100% 100%;
}
.center_left>img {
  width:100%;
}
.killright {
  width: 60%;
  left: 37%;
  top: .08rem;
  position: absolute;
  height: 100%;
}

.right_center {
  position: absolute;
  width: 100%;
  top: 0rem;
  bottom: .16rem;
  left: 0;
  margin: auto 0;
  display: flex;
  align-items: center;
}

.killprice {
  font-size: .1rem;
}

.killprice .redcolor {
  font-size: .16rem;
  color: #ff0036;
}

.killright .killtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.killtime {
  font-size: .1rem;
  color: #666666;
}

.rightbottom {
  font-size: .12rem;
  color: #666666;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: .17rem;
}

.btn_box {
  height: .4rem;
  line-height: .4rem;
  width: 100%;
  text-align: right;
}

.timesigning {
  float: left;
  font-size: .12rem;
}

.btn_box .btn {
  width: .6rem;
  height: .24rem;
  line-height: .24rem;
  font-size: .12rem;
  display: inline-block;
  text-align: center;
}

.btn_box .btn:not(:last-child) {
  margin-right: .06rem;
}

.btn_box .btn.btna {
  color: #ffffff;
  background: #ff0036;
}

.btn_box .btn.btnb {
  border: 1px solid #b7b7b7;
  color: #b7b7b7;
  background: #ffffff;
}

.btn_box .btn.btnb.active {
  color: #ff0036;
  border: 1px solid #ff0036;
}

.nolist img {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.nolist .mesg {
  color: #999999;
  font-size: .16rem;
  margin-top: .15rem;
  text-align: center;
}


.codeimgshow {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 111;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.codeimgshow > .imgbox {
  width: 2.5rem;
  border-radius: .04rem;
  height: 2.5rem;
  position: absolute;
  background: #fff;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.imgbox > img {
  width: 1.6rem;
  height: 1.6rem;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0.4rem;
  margin: auto;
  position: absolute;
}

.imgbox > .text {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: .4rem;
  text-align: center;
}
.bottomlist { font-size: .1rem;}
.codeimgshow .close {
  position: absolute;
  right: -.55rem;
  top: -.24rem;
  padding: .2rem;
  font-size: .28rem;
  color: #ffffff;
  z-index: 100;
}
.status0 .countdown span {
  width:.18rem;
  height:.18rem;  line-height: .18rem; background:#475669; color: #ffffff; margin-left: .04rem; margin-right: .02rem; border-radius: .02rem;}
.status2 .countdown span{ color: #FF0036;}
